<%- include("../partials/head") %>
    <%- include("../partials/nav"); %>
        <main>
            <div>
                <ul>
                    <% if (locals.errors) { %>
                        <h1 class="error-message">
                            <%= locals.errors %>
                        </h1>
                        <%} %>
                </ul>
            </div>



            <div class="message-grid">
                <% locals.messages.forEach((message)=> { %>
                    <div class="message-card">
                        <div class="message-header">

                            <p class="message-user">
                                <%= locals.currentUser.member ? message.username : "******" %>
                            </p>
                            <% if(locals.currentUser.admin) { %>

                                <form action="/message/<%= message.id %>?_method=DELETE" method="POST"
                                    style="display: inline;">
                                    <button class="btn-icon btn-secondary" type="submit">
                                        <img src="/svg/trash.svg" alt="">
                                    </button>
                                </form>
                                <% } %>
                        </div>
                        <h2 class="message-title">
                            <%= message.title %>
                        </h2>
                        <p>
                            <%= message.text %>
                        </p>
                        <p class="message-date">
                            <%= locals.currentUser.member ? message.added.toLocaleString('en-US') : '******' %>
                        </p>
                    </div>

                    <%})%>
            </div>
        </main>
        <%- include("../partials/footer"); %>