<%- include("../partials/head") %>
    <%- include("../partials/nav"); %>
        <main>
            <div>
                <ul>
                    <% if (locals.errors) { %>
                        <h1 class="error-message">
                            <%= locals.errors %>
                        </h1>
                        <%} %>
                </ul>
            </div>



            <div class="message-grid">
                <% locals.messages.forEach((message)=> { %>
                    <div class="message-card">
                        <p class="message-user">
                            <%= message.member ? message.username : "******" %>
                        </p>
                        <h2 class="message-title">
                            <%= message.title %>
                        </h2>
                        <p>
                            <%= message.text %>
                        </p>
                        <p class="message-date">
                            <%= message.member ? message.added.toLocaleString('en-US') : '******' %>
                        </p>
                    </div>

                    <%})%>
            </div>
        </main>
        <%- include("../partials/footer"); %>